# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.vs/
.idea/
*.iml

# Rust
target/


# Node
node_modules/
cache/
dist/
*.txt
*.log

# Database schemas (contains connection info and passwords)
schemas.yaml
